* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
}

p {
  margin-bottom: 0;
}

h5 {
  margin-top: .5rem;
}

header {
  background: #7cf;
  padding: 1rem 0;
  font-family: sans-serif;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

.container {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

form {
    background: #eee;
    padding: 2rem;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}


form label {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

#day, #month, #year {
    text-align: center;
}

#submit {
    display:block;
    background: #7cf;
    border: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: auto;
}
#submit:hover {
    background: #3cf;
    cursor:pointer;
}
#submit:active {
    background: #0cf;
    color: black;
}

#results {
    background: #eee;
    border-radius: 2rem;
    padding-top: 2rem;
}

.holiday {
    border-radius: 2rem;
}

#results h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;

}

.holiday {
  background: #eee;
  overflow: auto;
  padding: 2rem;
}

.holidayPhoto {
  float: right;
  max-width: 50%;
  max-height: 400px;
}

footer {
  background: #0cf;
  padding: 1rem 0;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: black;
  text-decoration: underline;
}
